<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- <i class="fa-brands fa-square-facebook"></i> -->
            <!-- <i class="fa-brands fa-instagram"></i> -->
            <a href="https://github.com/sushant3437"><i class="fa-brands fa-github"></i></a> 
            <a href=https://www.linkedin.com/in/sushant-patil-090963269?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;TravelLodge Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>